/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 13, ../sass/screen.scss */
body {
  font-family: 'Helvetica Nueue', helvetica;
  font-weight: 100;
  color: #555555;
  line-height: 1.4em;
}

/* line 20, ../sass/screen.scss */
h1 {
  font-size: 2em;
  font-weight: 300;
  color: #4ab60b;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
}

/* line 29, ../sass/screen.scss */
p {
  font-size: .85em;
  padding: 0;
  margin: 0;
}

/* line 36, ../sass/screen.scss */
form input {
  display: block;
  width: 100%;
}
/* line 41, ../sass/screen.scss */
form label {
  font-size: .7em;
  font-weight: 500;
  color: #888888;
}
/* line 47, ../sass/screen.scss */
form button {
  display: block;
  margin-top: 1em;
}

/* line 53, ../sass/screen.scss */
code * {
  font-size: 1em;
  line-height: 1.4em;
  color: #999999;
}

/* line 59, ../sass/screen.scss */
.code-title {
  font-size: .9em;
  font-weight: 700;
}

/* line 64, ../sass/screen.scss */
.row {
  padding: 1em;
}
